{%extends 'fn_app/html/base.html'%}
{%block content%}
{% load static %}
<!-- second section css  -->



<style>
  .cards{
    position: relative;
    width: 400px;
    
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .card-body {
    padding: 16px;
}


.card-text {
    margin: 8px 0;
    font-size: 16px;
    color: #666;
}
.card-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
  .card{transition: all 0.3s;
    &:hover{
      
    transform: scale(1.07);}
   }
  
</style>
<section id="hero">
  <div class="box1">
    <div class="cc">
      
      <h1 class="sedan" style="font-size: 7rem; "><p style="color: #443d39; font-family: DM Serif Display;">UNLEASH YOUR</p><p style="color: #ca0202;font-family:Carter One;"> STYLE</p></h1>
      <h1 class="" style="font-size: 3rem;  color:#443d39; font-family:Maitree ; margin-top: 6%;">Luxury and contemporary appeal for every individual</h1>
      <p style="margin-top: 2%; font-size: 1.5rem;" class="poppins">Join a community of trendsetters and tastemakers, where creativity knows no bounds.</p>
    </div>
    <div class="dc" >
      <!-- <button class="btna" onclick="window.location.href='{% url 'collections' %}';">Collections</button> -->
      {%if request.session.session_key%}
      <button class="btna" onclick="window.location.href='{% url 'contact_us' %}';">CONTACT US</button>
      {%else%}
      <button class="btna" onclick="window.location.href='{% url 'user_registration' %}';"> <p style="color: #fdf8f0; ">REGISTER NOW</p></button>
      {%endif%}
    </div>
  </div>
  <div class="box2"> <img src="{% static 'fn_app/images/gs3.png'%}"  style="height: 720px; width: 800px; margin: 70px 10px;" alt=""></div>
</section>

<!-- events section  -->
<section style="height: 650px; background-color: #fdf8f0 ">
 

  <marquee scrollamount="30" behavior="" direction="" >
<div class="my-5" style="height: 600px; display: inline-flex; overflow: auto;" *ngFor="let dg of desi" onmouseover="this.parentNode.stop()" onmouseout="this.parentNode.start()">
 <a style="text-decoration: none; margin-top: 10%;margin-right: 5%;" href="/events/ "> <h2 style="font-family: DM Serif Display; font-size: 5rem; text-align: center;  color:#443d39 ; ">EVENTS</h2></a>
    {% for e in event_key %}
        <div class="card mx-4" style="height: 500px; width: 350px;">
          <img style="height: 400px;width:100%;" src="/media/{{e.evnt_gallery}}" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title " style="text-align: center; margin-top: 2%;">{{e.event_name}}</h5>
              </div>
        </div>
    {%endfor%}
</div>
</marquee> 
</section>
<!-- events section ends here  -->
<!-- second sectio -->
<section id="aa">
<div class="part2">
            <iframe src="../static/fn_app/images/archita.mp4" frameborder="0" autoplay style="height:60vh; width: 35vw; margin-top: 4%;"></iframe>
</div>
  <div class="part1">
    <div class="cc">
      <p class="poppins" style="font-weight: 600; font-style: italic;">Why Choose Us</p>
      <h1 class="sedan" style="font-size: 3rem; font-family: DM Serif Display; color: #443d39;">Bringing You the Elements of Fashion Style</h1>
      <p class="poppins" style="font-size: 1.3rem;">
        Stay ahead of the curve with exclusive access to the latest collections from top fashion talents.
      </p>
      <div>
      <h3 style="font-size: 2rem; font-family: Maitree;">Innovations</h3>
      <p style="margin-top: 1%; font-size: 1.3rem;">Receive tailored recommendations based on your style preferences</p>
      <h3 style="font-size: 2rem; font-family: Maitree;">Supporting Creativity</h3>
      <p style="margin-top: 1%; font-size: 1.3rem;">By shopping with us, you directly support independent designers and foster creativity within the fashion industry</p>
      <h3 style="font-size: 2rem; font-family: Maitree;">Fashion Insights</h3>
      <p style="margin-top: 1%; font-size: 1.3rem;">Stay informed about the latest trends, industry news, and style tips</p>
      <h3 style="font-size: 2rem; font-family: Maitree;">Expert Team</h3>
      <p style="margin-top: 1%; font-size: 1.3rem;">Our dedicated customer support team is here to assist you every step of the way.</p>
      </div>
    </div>
    </div>

    </div>
    
  </div>
  

</section>



<!-- cta  starts here-->
<div class="cta ">
<section style="display: flex; flex-wrap: wrap; width: 1200px;">
  <div style="margin:150px 80px; width: 1200px; "> 
    <p class="poppins" style="font-weight: 600; font-style: italic;">GET STARTED</p>
    <h1 class="sedan" style="font-size: 4rem; font-family:  DM Serif Display;">Unbelievably good and elegant, designed only for your comfort. </h1>
  

  <div class="df" >
    <button class="btna" onclick="window.location.href='{% url  'collections'   %}';"><b>COLLECTIONS</b> </button>
  </div>
</div>
</section>
</div>


<!-- cta ends here -->

<section id="hii">
<div class="box5">
  <img src="{% static 'fn_app/images/testimonial.jpg'%}" alt="">
</div>
  <div class="box4">
    <div class="zx">
      <p style="  font-size: 1.5rem;font-family: 'Times New Roman', Times, serif;font-style: italic;">TESTIMONIALS</p>
      <h1 class="sedan" style="font-size: 3rem; color:#443d39; font-family:  DM Serif Display;">Wonderful reviews from client</h1>
      <hr style="margin-bottom: 4%;">

<!-- carousel starts here-- -->

        <div class="" style=" display: inline-flex; overflow: auto; overflow: hidden; gap: 18px;">
       

          {% for t in feedback %}
    
             <div class="cards"  >
              <div class="card-body">
                <h5 class="card-title">{{t.name}}</h5>
                <p class="card-text">Remark: {{t.remark}}</p>
                <p class="card-text">Rating: {{t.rating}}</p>
                <p class="card-text text-muted">{{t.date}}</p>
              </div>
            </div> 
        
{%endfor%} 

    </div>



</section>



<!-- carousel ends here-- -->
<section id="villain">
<div class="villain1">
<div class="aaa">
  <p class="poppins" style="font-weight: 600; font-style: italic;">Why Choose Us</p>
  <h1 class="sedan" style="font-size: 4rem; font-weight: 700;  color: #272321;">We Deliver Fashion as Fashionable as You Are</h1>
   
  </div>
  <div class="dd" >
    <button class="btna" onclick="window.location.href='{% url 'about' %}';">DISCOVER MORE</button>
  </div>
</div>

</section>



<section style="height: 500px; background-color:  #fdf8f0; ">
  <div style=" width: 100%; ">
  <div><h2  style=" letter-spacing: 2px;   font-size: 2.5rem;font-family:DM Serif Display; color:#272321; text-align: center;">TIPS</h2></div> 
  <!-- carousel  -->
  <div style=" letter-spacing: 2px; display: inline-flex; overflow: auto; gap: 25px; margin: 0px 200px; margin-top: 3%;">
  {% for t in tip %}
  <div class="notification">
    <div class="notiglow"></div>
    <div class="notiborderglow"></div>
    
    <div class="notibody">💡{{t.content}}</div>
    <div class="notibody">~{{t.designer.d_name}}</div>
    <div class="notibody">{{t.date}}</div>
  </div>
{%endfor%}
</div>
</div>
</section>
  <!-- carousel script  -->
  <script>
    // Initialization for ES Users
    import { Carousel, initMDB } from "mdb-ui-kit";
    
    initMDB({ Carousel });
  </script>
  




 {%endblock content%}