{% extends 'fn_app/html/base.html'%}
{% block content%}
 {% load static%}
 <style>
  body {
    background-color: #fdf8f0;
}

.containerr {
width: 800px;
  height: 700px;
    max-width: 600px;
    margin: 30px auto ;
    

}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-4 {
    display: flex;
    flex-direction: column;
  

}

@media (min-width: 768px) {
   .col-md-4 {
        width: 31%;

    }

   .col-md-8 {
        width: 69%;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
}
.mm{
  color: darkgray;
  margin-bottom: 10px;
  margin-left:4px ;
  font-size: 1rem;
  font-family:Poppins ;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.mn{
  margin-top: 10px;
  margin-bottom: 40px;
  height:47px ;
}
.bt{
  color: darkgrey;
  font-size: 30px;
  margin: 0px 65px;
}
.rounded-circle {
  width: 150px; /* adjust this value */
  height: 150px; /* adjust this value */
  object-fit: cover; /* or use contain, depending on your needs */
  border-radius: 50%;
  margin: 30px 10px;
}
.form-control {
    background-color: darkgrey;
}
.btn {
    border-radius: 10px; 
    height: 40px;
    width: 100px;
    margin: 10px 35px;
    font-size: large;
    display: block;
    transition: all 0.4s;
    border: none;
    color: #F2D4D6;
    background-color:  rgb(33, 30, 48) ;
    &:hover{
        background-color: #d1d1d1;
        color: #363636;
    }
}
   </style>

  <form action="/designer_edit_home/" method="post">
    {%csrf_token%}
<!-- designer profile starts here  -->
<body>
  
<section style="height: 900px;">
<h2 style="color: #443d39; font-family: DM Serif Display;  margin: 40px 650px; font-size: 2.5rem;letter-spacing: 2px;"><i class="fas fa-user" style="margin-right: 1%; font-size: 2rem; "></i> EDIT PROFILE</h2>

  <div class="containerr ">
      <div class="row">
        
        <div class="col-md-8" style="background-color: rgb(33, 30, 48)      ;">
          <h2 style="text-align: center; margin-top: 5%; color: darkgrey; font-family: Sedan SC;">Information</h2>
          <hr>
            <h6 class="mm" style="margin-top: 10%;">Name</h6>
            <input type="text" name="name" value="{{user.d_name}}" class="form-control mn">
            <h6 class="mm">Email</h6>
            <p class="text-muted"><input type="email" name="email" value="{{user.d_mail}}" class="form-control mn"></p>
            <h6 class="mm">Phone Number</h6>
            <p class="text-muted"> 
              <input type="phone" name="phone" value="{{user.d_phone}}" class="form-control mn" maxlength="10"></p>
              <h6 class="mm">City</h6>
              <p class="text-muted"><input type="text" name="city" value="{{user.d_city}}" class="form-control mn"></p>
              <h6 class="mm">About</h6>
              <p class="text-muted"><input type="text" name="about" value="{{user.d_about}}" class="form-control mn"></p>
              
        </div>
        <div class="col-md-4" style="background-color: #2d2d3a">
          <img src="{{user.d_pic.url}}" 
          alt="Avatar" class="  mb-3 rounded-circle" />
       
          <button type="submit" class="btn " onclick="window.location.href='{% url 'designer_home' %}';">Save</button>
            
        </div>
          </div>
            <!-- <div class="d-flex justify-content-start">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div> -->
  
          </div>
      
</section>




<!-- designer profile ends here  -->
    
  
  
      <script>
  
  
        window.onload=function()
                {
                  if (window.history.replaceState){
                    window.history.replaceState(null,null,window.location.href);
                  }
                }
        
        </script>


<script>
  function validateInput(event) {
  const input = event.target.value;
  const regex = /^[a-zA-Z]*$/; // Regular expression to match only characters
  if (!regex.test(input)) {
  // If input contains anything other than characters, remove them
  event.target.value = input.replace(/[^a-zA-Z]/g, '');
  //alert("only aplhabets allowed")
  alert("Only Alphabets are allowed");
  }
  }
  </script>
<script>

  document.getElementById('phone_number').addEventListener('keydown', function(event) {
  // Allow only digits and backspace/delete keys
  if (!(event.key === 'Backspace' || event.key === 'Delete' || /\d/.test(event.key))) {
  alert("only digits")
  // swal.fire("Only Digits are allowed");
  event.preventDefault();
  }
  });
  
      </script>
</body>





 {% endblock content%}