
{%extends 'fn_app/html/base.html'%}


{%block content%}
    <style>
#sec1
{
  background-image: url(../../../static/fn_app/images/bgpic.jpg);
  background-size: cover;

  background-color: antiquewhite;
min-height: 300px;
display: flex;
flex-wrap: wrap;
.zz
{
  min-height: 300px;
  width: 700px;
}
}
.zx
{
  min-height: 300px;
  width: 300px;
  img{
    height: 200px;
    width: 200px;
    margin: 50px 50px;
    clip-path: circle(50% at 50% 50%);
  }
  img:hover{
    transition: 0.53s;
    scale: 1.07;
  }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
 .col {
    flex: 1 0 21%; /* This will make each card take up 21% of the width of the container, allowing for some margin between them */
    margin: 2%;
  }
  .card {
    width: 350px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .card:hover{
      
      transition: all 0.3s;
      transform: scale(1.05);

    }
    .gf
    {
      margin: 50px;
    }
.font{
  font-size: 20px;
  font-weight: bold;
  margin-top: 2%;
}
</style>








  <!-- designer sidebar -->
  <div class="container1">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button><button type="button" class="btn-close" aria-label="Close"></button>
    </form>
    <ol style="list-style: none;">
    {%for d in des%}
    <div class="d-flex">
      <li><a href="/designer/{{d.d_ID}}">{{d.d_name}}</a> </li>
    <button class="me-5 px-4 btnb py-0" onclick="window.location.href='{%url 'chat' d.d_ID%}';">Chat</button>
    </div>
    {%endfor%}
    </ol>
  </div>
  <!-- sidebar end -->

<!--first section starts here  -->

<section id="sec1"> 
  <div class="zx">
  <img  src="/media/{{desi.d_pic}}" alt="">
</div>
  <div class="zz">
    <div class="gf">
    <h1 class="sedan">  {{desi.d_name}}</h1>
    <h1 class="sedan" >{{desi.d_about}}</h1>
  <p  class="sedan font">Mail:{{desi.d_mail}}</p>
    <p class="sedan font" >Phone:{{desi.d_phone}}</p>
    
  </div>
</div>

</section>
<p style="font-size: 3rem; font-family:'Times New Roman', Times, serif ; text-align: center; margin-top: 2%;
margin-bottom: 2%;" >ALL {{desi.d_name}} COLLECTIONS</p>
<!-- first section ends here  -->
 <div style="display: flex; justify-content: center; flex-wrap: wrap;" class="mx-4">
    {%for w in works%}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" >
          <img src="/media/{{w.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{w.title}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
</div>
      {%endfor%}
    </div>

    

<script>
  const designerLink = document.getElementById('designer-link');
const sidebar = document.querySelector('.container1');

// Listen for a click event on the Designer link
designerLink.addEventListener('click', function(event) {
// Prevent the default behavior of the link
event.preventDefault();

// Toggle the sidebar
sidebar.classList.toggle('open');
});
</script>
<!-- script for sidebar ends -->

{%endblock content%}
